<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Email 3 – Déclic décisif</title>
</head>
<body>
  <p>Bonjour {{ prenom }},</p>

  <p>
    Tu as déjà vu comment j’ai construit une carrière de consultant.  
    Mais il y a eu un moment clé… une décision qui a tout changé.
  </p>

  <p>À demain,<br>GBEDAGBE Etienne</p>

  <!-- Pixel de tracking -->
  <img src="https://021dc622d5e9.ngrok-free.app/email/open/?email={{ reservation.email }}&name=soap_opera_3"
       width="1" height="1" style="display:none;">
</body>
</html>
